/* CSS Document */
h1
{background:#33CC00;
border:thick;
background-position:center;
font-size:60px;
}
.btn
{background:#CC0066;
color:#FFFF00;
text-align:center;
border-radius:20px;
font-size:36px;
width:50px;
}

.txt
{
text-align:right;
background-color:#FF99FF;
border-radius:10px;
font-size:36px;

}

#cal
{
text-align:center;
background-color:#3300CC;
}

.text
{font-family:algeria;
background-color:#FF6600;
}

